.slider h3,
.slider h5,
.client {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.parallax-container {
  height: 20%;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.5 !important;
}
.panel1{
  height: 250px;
}

.client img {
  max-width: 150px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}
section {
  padding: 20px 0;
}
footer{
  padding: 10px 0px;
  
  
}
.git{
  margin: 0px 5px;
}
.btn{
  border-radius: 5px;
}
.small{
  font-size:10px !important;
}
/* The alert message box */
.alert {
  padding: 10px;
  background-color: rgb(149, 250, 149); 
  color: white;
  margin-bottom: 15px;
  border: green 2px solid;
  border-radius: 5px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}